@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  .menu > li {
    @apply mb-2;
  }
  .hidden_nav {
    opacity: 0;
    height: 0;
  }
  .menu {
    transition: all ease-out 300ms;
  }
}

.section-sizing {
  @apply min-h-screen md:min-h-fit lg:min-h-screen;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #121e27 #13c2b5;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #13c2b5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121e27;
}

.menu > li {
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
}

.menu > li:hover {
  border-bottom: 2px solid #13c2b5;
  transform: translateY(-2px);
  transition: transform ease-out 300ms;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(18, 30, 39, 0.4);
  z-index: 49;
  backdrop-filter: blur(15px);
}

.form-input {
  @apply border-2 border-gray-300 rounded-lg w-full p-3 mb-4 outline-none focus:border-primary z-10;
}

.form-area {
  @apply border-2 h-40 border-gray-300 rounded-lg w-full p-3 mb-4 outline-none focus:border-primary z-10;
}

.submit-button {
  @apply bg-primary text-white font-bold py-2 px-4 rounded-full w-full transition-all ease-out duration-300 z-10 mb-4;
}

.submit-button:disabled {
  @apply bg-gray-300 text-white font-bold py-2 px-4 rounded-full w-full transition-all ease-out duration-300 z-10;
}

.footer-paragraph span {
  @apply text-white font-semibold opacity-100;
}
